/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
/* background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg'); */
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
/* display:grid; */
}

.container{
height: 100%;
align-content: center;
/* display:grid; */
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
align-content: center;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
align-content: center;
}

.login_btn:hover{
color: black;
background-color: white;
}


.signup_btn{
  color: black;
  background-color: #FFC312;
  width: 100px;
  align-content: center;
  }

  .start-button{
    align-content: center;
  }
  
  .signup_btn:hover{
  color: black;
  background-color: white;
  }

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.sidebar {
  height: 100%;
  width: 10em;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 20px;
  color: blue;
  align-content: center;
}


.logout-tab {
  padding-top: 180%;
}

.title {
  text-align: center;
  text-decoration: cornflowerblue;
  font-size: 300%;
  padding: 30px;
 
}

.game-body {
  background: #f9f9f9;
  margin: 1em 1em 1em 2em;
  width: 48em;
  height: 32em;
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  max-width: 45em;
  float: right;

}

.bottom-bar {
  height: 20em;
  width: 20em;
  display: grid;
  float:right;
  
}